version: "3.9"
services:
  backend:
    build: ./BackendApi
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - redis
      - es01

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.1
    container_name: es01
    environment:
      - discovery.type=single-node
      - cluster.name=poc-cluster
      - node.name=es01
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
